<h1>Listing tweet_collections</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweet_collections.each do |tweet_collection| %>
      <tr>
        <td>made at:<%=tweet_collection.created_at%></td>
        <td><%= link_to 'Show', tweet_collection %></td>
        <td><%= link_to 'Edit', edit_tweet_collection_path(tweet_collection) %></td>
        <td><%= link_to 'Destroy', tweet_collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet collection', new_tweet_collection_path %>
